<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TravelSite</title>
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TravelSite.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<button type="submit" style="border: none; background: none;">
						<img style="max-width:25px;max-height:25px; align-content:start" src="/logo.jpg" />
					</button>Travels
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				@if (User.Identity.IsAuthenticated)
				{
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Travel" asp-action="GetAllTravels">Туры</a>
							</li>
							@if (User.IsInRole("Admin"))
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="GetAllUsers">Пользователи</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="TravelDates" asp-action="GetAllTravelDates">Даты туров</a>
								</li>
							}
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Help">Помощь</a>
							</li>
							<li>
								@{
									var search = "";
								}
								<form asp-area="" asp-action="SearchTravel" asp-controller="Travel" class="d-flex mx-5" method="post">
									<input asp-for="@search" class="form-control me-2 " type="text" placeholder="Поиск" aria-label="Search">
									<button class="btn btn-outline-success" type="submit">Поиск</button>
								</form>
							</li>
						</ul>
						<div style="position:relative">
							<a class="text-decoration-none;color:darkgray;" method=get asp-area="" asp-controller="Notification" asp-route-id="" asp-action="GetNotifications">
								<img style="align-content:center; border-radius:5px; background-image;position:relative;z-index:1" src="~/Notify.png" width="60%" height="auto" />
								<span id="not" class="badge text-bg-danger p-1 m-1" style="border-radius:50%;position:absolute; top: -10px; right: 5px;"></span>
							</a>
						</div>
						<ul class="navbar-nav align-items-center">
							<li class="nav-item">

								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										@User.Identity.Name
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<li>
											<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="MyPage">Профиль</a>
										</li>
										<li>
											<a class="dropdown-item" asp-area="" asp-controller="Booking" asp-action="GetAllBooking">Бронирования</a>
										</li>
@* 										<li>
											<a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="GetAllOrders">Заказы</a>
										</li> *@
										@if(User.IsInRole("Admin"))
										{
										<li>
											<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="AdminSettings">Настройки</a>
										</li>
										}
										<li>
											<form asp-area="" asp-action="Logout" asp-controller="Account">
												<button type="submit" class="dropdown-item">
													Выход
												</button>
											</form>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				}
				else
				{
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Travel" asp-action="GetAllTravels">Туры</a>
							</li>
						</ul>
					</div>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Travel" asp-action="GetAllTravels">Помощь</a>
							</li>
						</ul>
					</div>
				}
			</div>
		</nav>
	</header>
	<div class="container align-content-center">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="footer border-top text-muted">
		<div class="container d-inline-block w-auto">
			&copy; 2025 - TravelSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
		<div class="container d-inline-block" style="width:50px; height:auto; padding-right:0">
			<a id="ref1" href="">
				<img src="~/whatsapp.svg" width="100%" height="auto"/>
			</a>
		</div>
		<div class="container d-inline-block" style="width:50px; height:auto; padding-left:0">
			<a id="ref2" href="">
				<img src="~/telegram.svg" width="100%" height="auto"/>
			</a>
		</div>
	</footer>
	@* 	@await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.14/signalr.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
	async function CheckNotification() {

		const connection = new signalR.HubConnectionBuilder()
			.withUrl("/Notification", { transport: signalR.HttpTransportType.WebSockets | signalR.HttpTransportType.LongPolling })
			.build();
		try {
			await connection.start();
			console.log("SignalR Connected.");
		}
		catch (err) {
			console.log(err);
			setTimeout(start, 5000);
		}
		let id;
		function GetLastBooking(userId) {
			$.ajax({
				url: '/Booking/GetLastBookingByUser?=' + userId,
				type: 'GET',
				async: true,
				success: function (booking) {
					return booking.Id;
				},
				error: function (xhr, status, error) {
					console.log(xhr.responseText);
				}
			});
		}
		function RedirectToPage() {
			const str = "https://localhost:7081/GetBooking?id=" + id.toString();
			window.location.replace(str);
		}

		toastr.options = {
			"closeButton": true,
			"debug": true,
			"newestOnTop": false,
			"progressBar": true,
			"positionClass": "toast-top-center",
			"preventDuplicates": false,
			"onclick": RedirectToPage,
			"showDuration": "3000000",
			"hideDuration": "1000000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		};
		connection.on("BookingCreateNotify", async (message, userId) => {
			toastr.success(message);
			id = GetLastBooking(userId);
		});
		connection.on("BookingConfirmed", async (message, userId) => {
			toastr.success(message);
			id = GetLastBooking(userId);
		});
	}
</script>
<script>
	async function CheckNewNotification() {

		function GetAllNewNotifications() {
			$.ajax({
				url: '/Notification/GetAllNewNotifications',
				type: 'GET',
				success: function (nots) {
					let elem = document.getElementById('not');
					if (nots.length > 0) {
						elem.innerHTML = nots.length.toString();
					}
					else {
						elem.hidden = true;
					}
				},
				error: function (xhr, status, error) {
					console.log(xhr.responseText);
				}
			});
		}
		GetAllNewNotifications();
		setInterval(GetAllNewNotifications, 3000);
	}
</script>
<script>
	function GetRefs() {
		$.ajax({
			url: '/Account/GetUrls?=',
			type: 'GET',
			success: function (result) {
				let ref1 = document.getElementById('ref1');
				let ref2 = document.getElementById('ref2');

				ref1.setAttribute('href', result.url1);
				ref2.setAttribute('href', result.url2);
			},
			error: function (xhr, status, error) {
				console.log(xhr.responseText);
			}
		});
	}
</script>
<script>
	CheckNotification();
	CheckNewNotification();
	GetRefs();
</script>

