# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/TravelSite/.vs/ProjectEvaluation
/TravelSite/.vs/TravelSite
/TravelSite/TravelSite/obj
/TravelSite/TravelSite/wwwroot/uploads/sd_eccsp3jw.rje.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_20gmjziy.abv.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_2c1tfv35.s2q.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_3luwdjg2.hq4.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_ae2gwjsx.0li.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_cgivhjan.14t.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_hxsyjxhj.ajs.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_ocp2mx4y.j15.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_r0mv54uy.ols.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_rjjrocys.cp4.jpg
/TravelSite/TravelSite/wwwroot/uploads/Грузия_u5xho4cv.ra1.jpg
/TravelSite/TravelSite.Data/bin/Debug/net8.0
/TravelSite/TravelSite.Data/obj
