@using TravelSite.Models.Bookings
@using TravelSite.Models.TravelDates
@using TravelSite.Models.Travels
@{
	ViewData["Title"] = "EditBooking";
}
@model EditBookingViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>

<link rel="stylesheet" href="css/bootstrap.css">

<label class="fs-5 mb-1">Редактирование бронирования</label>

<form class="frm" method="post" asp-controller="Booking" asp-action="UpdateBooking">
	<div asp-validation-summary="ModelOnly"></div>
	<div>
		<div class="mb-3">
			<input asp-for="Id" class="form-control" hidden />
		</div>
		<div class="mb-3">
			<label class="text-dark-emphasis">Дата отправления</label>
			<input asp-for="From" class="form-control" style="max-width:fit-content" type="date" />
			<span asp-validation-for="From" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-dark-emphasis">Дата возвращения</label>
			<input asp-for="To" class="form-control" style="max-width:fit-content" type="date" />
			<span asp-validation-for="To" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-dark-emphasis">Дата бронирования</label>
			<input asp-for="BookDate" class="form-control" style="max-width:fit-content" type="datetime-local" />
			<span asp-validation-for="BookDate" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-dark-emphasis">Статус бронирования</label>
			<input asp-for="BookingStatus" class="form-control">
			<span asp-validation-for="BookingStatus" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-dark-emphasis">Цена</label>
			<input asp-for="Price" class="form-control">
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Сохранить" />
	</div>
</form>
