@using TravelSite.Data.Models
@using Microsoft.AspNetCore.Identity;
@using TravelSite.Models.Account

@{
	ViewData["Title"] = "Help";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">

<label>HEEEELLLLLPPPPPP</label>
